.container{
  background-color: var(--white);
  width: 100%;
  border-radius: 5px; 
  padding: 29px 32px;
  gap: 35px;
}

.title{
  font-weight: 700;
  font-size: 20px;
  color: var(--gray-medium);
  margin-bottom: 20px;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.dateInput{
  display: flex;
  justify-content: space-between;
}

.dateInput > :first-child {
  margin-right: 15px;
}

.dateInput > :last-child {
  margin-left: 15px;
}