.buttonFont{
  font-weight: 700;
  font-size: 16px;
  background-color: var(--primary-orange);
  color: var(--white);
}

.green{
  background-color: var(--green);
  color: var(--gray-lightest)
}

.gray{
  background-color: var(--gray-light);
  color: var(--gray-darkest);
}

.icon{
  font-size: small;
  color: white;
}

