.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: var(--white);
  border: 1px solid var(--gray-lightest);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  height: auto; 
}

.title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--gray-darkest);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
