/* Styles globais */
:root {
  --gray-lightest: #E4E6F0;
  --gray-darkest: #5C5958;
  --gray-medium: #7B7B7B;
  --gray-light: #C0C1C6;
  --primary-blue: #003A64;
  --primary-orange: #FF4F2A;
  --white: #F5F5F5;
  --green: #4CAF50;
  --black: #312F2F;
  --red: #fb2929;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Calibri', sans-serif;
}

body {
  background-color: var(--gray-lightest);
}

a {
  text-decoration: none;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 946px;
  margin: 0 auto;
  width: 100%;
}

/* Use media queries para ajustar o max-width com base no tamanho da tela */
@media (max-width: 768px) {
  .pageContent {
    max-width: 90%; /* Reduza o max-width para 90% da largura da tela */
  }
}

.ql-container {
  font-size: 16px !important;
  font-family: 'Calibri', sans-serif;
}